@media screen and (max-width:700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  .filme-principal {
    height: 600px;
  }
  .filme-principal .container .btn-group .btn {
    margin-top: 5px;
    width: 190px;
    height: 60px;
  }
}

@media screen and (min-width:1000px) {
  .filme-principal .container .description {
    width: 50%;
  }
}